* {
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

p {
	line-height: 1.45;
}

a {
	color: black;
}

a:hover, a:focus {
	text-decoration: underline;
}

a:active {
	color: red;
}

.button, button {
	border: none;
	display: inline-block;
	font-family: inherit;
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.navigation-list__item {
	text-decoration: none;
}

.navigation-list__item--active {
	color: red;
}

.page-footer__icon-container {
	list-style-type: none;
}

.page-footer__icon-container li {
	display: inline-block;
	margin-left: 5px;
}

.profile__logo {
	width: 200px;
	height: 70px;
}

.portrait {
	float: right;
	width: 250px;
	margin-left: 75px;
	border-radius: 50%;
}

.home-text {
	padding-top: 5px;
}

.page-footer {
	clear: both;
	flex-direction: column;
	text-align: center;
}

.page-footer ul {
	padding: 0;
}

.profile {
	max-width: 700px;
	margin: 0 auto;
	padding: 0 5px;
}

.languages {
	padding-top: 100px;
	margin: auto;
	max-width: 800px;
}

.other-languages {
	padding-left: 30px;
	border-left: 0.5px solid black;
}

.simple-language-icon {
	margin: 18px 20px 40px 50px;
}

.language-icon {
	margin: 18px 5px 40px 10px;
}

.row {
	display: flex;
}

.column {
	flex: 50%;
}

.about {
	display: grid;
	width: 100%;
	justify-items: center;
	text-align: center;
}

.about-list {
	list-style-type: none;
	padding: 0;
}

.about-table {
	display: grid;
	justify-items: center;
}

.page_footer {
	clear: both;
	display: flex;
}

.page-header {
	display: flex;
	width: 100%;
	padding: 33px 69px 69px 69px;
}

.page-header__item {
	flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
	list-style-type: none;
}

.navigation-list li {
	display: inline-block;
	margin-left: 22px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 10px;
}

.grid__item {
	background-color: lightgray;
	padding: 15px;
}

.grid__item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

/* Grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}

@supports (display: grid) {
 .grid {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   margin: 0;

 }
 .grid__item {
   background-color: lightgray;
   width: auto;
   min-height: auto;
   margin: 0;
 }
 .grid__item:last-child {
   grid-column: 3 / 3;
   grid-row: 1 / 3;
 }
}

@media all and (max-width: 500px) {
  .grid {
	grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
	grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
	grid-gap: 10px;
  }
  .grid__item:last-child {
	grid-column: auto / auto;
	grid-row: auto / auto;
  }
  h1 {
	font-size: 22px;
  }
}

@keyframes color-change {
	0% {
		fill: #edc655;
	}
	50% {
		fill: #fcffad;
	}
	100% {
		fill: #f76414;
	}
}

.sun {
	animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}

.cloud-front {
	animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
	from {
		transform: translate(446px, 48px);
	}
	to {
		transform: translate(100px, 48px);
	}
}

.cloud-back {
	animation: 34s cloud-move-reverse infinite alternate linear;
}

.berlin-illustration {
	max-width: 100%;
}